
main > article,
main > form {
	display: grid;
	grid-template-areas: "header" "content" "footer";
	grid-template-rows: min-content 1fr min-content;
	height: 100%;

	> footer {
		grid-area: footer;
	}

	> h2, > header {
		grid-area: header;
	}

	> :not(footer, h2, header) {
		display: block;
		grid-area: content;
		height: 100%;
		overflow-y: auto;
		overscroll-behavior: contain;
	}
}

article, form {

	> header > h2 {
		background: #eee;
		border-bottom: 1px solid #ccc;
		font-size: inherit;
		margin: 0;
		padding: .5em;
	}

	> p {
		margin: .75em;
	}
}
