
body {

	> header, > .app.menu, > main {
		transition: width .1s;
	}

	> .collapse {
		background: url('action/back.svg') center no-repeat;
		border: none;
		cursor: pointer;
		font-size: 0;
		width: 24px;
	}

}

@media (min-width: 601px) {

	body.collapse {

		> .collapse {
			background-image: url('action/menu.svg');
		}

		> header, > .app.menu {
			width: 0;
		}
	}
}

@media (max-width: 600px) {

	body {

		> .collapse {
			background-image: url('action/menu.svg');
			min-height: 32px;
		}

		> header, > .app.menu {
			width: 0;
		}

		&.expand {

			> .app.menu {
				width: calc(100vw - 24px);
			}

			> .collapse {
				background-image: url('action/back.svg');
			}

			> .breadcrumb, #notifications {
				display: none;
			}

			> header {
				width: calc(100vw - 24px);
			}

			> main {
				overflow: hidden;
				width: 24px;

				> * {
					opacity: 0;
				}
			}
		}
	}
}
